<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>shixun</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>team543.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CharacterEncodingFilter</display-name>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>team543.filter.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>UserCheckFilter</filter-name>
    <filter-class>team543.filter.UserCheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserCheckFilter</filter-name>
    <url-pattern>/SearchServlet</url-pattern>
    <url-pattern>/UpdateServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>SearchUserServlet</display-name>
    <servlet-name>SearchUserServlet</servlet-name>
    <servlet-class>team543.servlet.SearchUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchUserServlet</servlet-name>
    <url-pattern>/SearchUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchTeacherServlet</display-name>
    <servlet-name>SearchTeacherServlet</servlet-name>
    <servlet-class>team543.servlet.SearchTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchTeacherServlet</servlet-name>
    <url-pattern>/SearchTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchAdminServlet</display-name>
    <servlet-name>SearchAdminServlet</servlet-name>
    <servlet-class>team543.servlet.SearchAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAdminServlet</servlet-name>
    <url-pattern>/SearchAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchGradeServlet</display-name>
    <servlet-name>SearchGradeServlet</servlet-name>
    <servlet-class>team543.servlet.SearchGradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchGradeServlet</servlet-name>
    <url-pattern>/SearchGradeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchCourseServlet</display-name>
    <servlet-name>SearchCourseServlet</servlet-name>
    <servlet-class>team543.servlet.SearchCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchCourseServlet</servlet-name>
    <url-pattern>/SearchCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAdminServlet</display-name>
    <servlet-name>UpdateAdminServlet</servlet-name>
    <servlet-class>team543.servlet.UpdateAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAdminServlet</servlet-name>
    <url-pattern>/UpdateAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCourseServlet</display-name>
    <servlet-name>UpdateCourseServlet</servlet-name>
    <servlet-class>team543.servlet.UpdateCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCourseServlet</servlet-name>
    <url-pattern>/UpdateCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateGradeServlet</display-name>
    <servlet-name>UpdateGradeServlet</servlet-name>
    <servlet-class>team543.servlet.UpdateGradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateGradeServlet</servlet-name>
    <url-pattern>/UpdateGradeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserServlet</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>team543.servlet.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudentServlet</display-name>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <servlet-class>team543.servlet.UpdateStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <url-pattern>/UpdateStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTeacherServlet</display-name>
    <servlet-name>UpdateTeacherServlet</servlet-name>
    <servlet-class>team543.servlet.UpdateTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTeacherServlet</servlet-name>
    <url-pattern>/UpdateTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchStudentServlet</display-name>
    <servlet-name>SearchStudentServlet</servlet-name>
    <servlet-class>team543.servlet.SearchStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchStudentServlet</servlet-name>
    <url-pattern>/SearchStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Temp</display-name>
    <servlet-name>Temp</servlet-name>
    <servlet-class>team543.servlet.Temp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Temp</servlet-name>
    <url-pattern>/Temp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSearchStudentServlet</display-name>
    <servlet-name>AdminSearchStudentServlet</servlet-name>
    <servlet-class>team543.servlet.AdminSearchStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchStudentServlet</servlet-name>
    <url-pattern>/AdminSearchStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSearchCourseServlet</display-name>
    <servlet-name>AdminSearchCourseServlet</servlet-name>
    <servlet-class>team543.servlet.AdminSearchCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchCourseServlet</servlet-name>
    <url-pattern>/AdminSearchCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSearchTeacherServlet</display-name>
    <servlet-name>AdminSearchTeacherServlet</servlet-name>
    <servlet-class>team543.servlet.AdminSearchTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchTeacherServlet</servlet-name>
    <url-pattern>/AdminSearchTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSearchGradeServlet</display-name>
    <servlet-name>AdminSearchGradeServlet</servlet-name>
    <servlet-class>team543.servlet.AdminSearchGradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchGradeServlet</servlet-name>
    <url-pattern>/AdminSearchGradeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateStudentServlet</display-name>
    <servlet-name>AdminUpdateStudentServlet</servlet-name>
    <servlet-class>team543.servlet.AdminUpdateStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateStudentServlet</servlet-name>
    <url-pattern>/AdminUpdateStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateTeacherServlet</display-name>
    <servlet-name>AdminUpdateTeacherServlet</servlet-name>
    <servlet-class>team543.servlet.AdminUpdateTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateTeacherServlet</servlet-name>
    <url-pattern>/AdminUpdateTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateCourseServlet</display-name>
    <servlet-name>AdminUpdateCourseServlet</servlet-name>
    <servlet-class>team543.servlet.AdminUpdateCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateCourseServlet</servlet-name>
    <url-pattern>/AdminUpdateCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminCommitServlet</display-name>
    <servlet-name>AdminCommitServlet</servlet-name>
    <servlet-class>team543.servlet.AdminCommitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCommitServlet</servlet-name>
    <url-pattern>/AdminCommitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentInfoServlet</display-name>
    <servlet-name>StudentInfoServlet</servlet-name>
    <servlet-class>team543.servlet.StudentInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentInfoServlet</servlet-name>
    <url-pattern>/StudentInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentCourseServlet</display-name>
    <servlet-name>StudentCourseServlet</servlet-name>
    <servlet-class>team543.servlet.StudentCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentCourseServlet</servlet-name>
    <url-pattern>/StudentCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentSearchCourseServlet</display-name>
    <servlet-name>StudentSearchCourseServlet</servlet-name>
    <servlet-class>team543.servlet.StudentSearchCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentSearchCourseServlet</servlet-name>
    <url-pattern>/StudentSearchCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentSearchTeacherInfoServlet</display-name>
    <servlet-name>StudentSearchTeacherInfoServlet</servlet-name>
    <servlet-class>team543.servlet.StudentSearchTeacherInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentSearchTeacherInfoServlet</servlet-name>
    <url-pattern>/StudentSearchTeacherInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentSearchGradeServlet</display-name>
    <servlet-name>StudentSearchGradeServlet</servlet-name>
    <servlet-class>team543.servlet.StudentSearchGradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentSearchGradeServlet</servlet-name>
    <url-pattern>/StudentSearchGradeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherInfoServlet</display-name>
    <servlet-name>TeacherInfoServlet</servlet-name>
    <servlet-class>team543.servlet.TeacherInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherInfoServlet</servlet-name>
    <url-pattern>/TeacherInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherSearchStudentServlet</display-name>
    <servlet-name>TeacherSearchStudentServlet</servlet-name>
    <servlet-class>team543.servlet.TeacherSearchStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherSearchStudentServlet</servlet-name>
    <url-pattern>/TeacherSearchStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherSearchStudentInfoServlet</display-name>
    <servlet-name>TeacherSearchStudentInfoServlet</servlet-name>
    <servlet-class>team543.servlet.TeacherSearchStudentInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherSearchStudentInfoServlet</servlet-name>
    <url-pattern>/TeacherSearchStudentInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherSearchStudentGradeServlet</display-name>
    <servlet-name>TeacherSearchStudentGradeServlet</servlet-name>
    <servlet-class>team543.servlet.TeacherSearchStudentGradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherSearchStudentGradeServlet</servlet-name>
    <url-pattern>/TeacherSearchStudentGradeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherSearchCourseServlet</display-name>
    <servlet-name>TeacherSearchCourseServlet</servlet-name>
    <servlet-class>team543.servlet.TeacherSearchCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherSearchCourseServlet</servlet-name>
    <url-pattern>/TeacherSearchCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherCommitServlet</display-name>
    <servlet-name>TeacherCommitServlet</servlet-name>
    <servlet-class>team543.servlet.TeacherCommitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherCommitServlet</servlet-name>
    <url-pattern>/TeacherCommitServlet</url-pattern>
  </servlet-mapping>
</web-app>